body,
html {
	margin: 0;
	padding: 0;
}
    /* Navbar Styles */
    nav {
      background-color: #d35f20;
      color: white;
      display: flex;
      justify-content: flex-start;
      gap: 50%;
      align-items: center;
      padding: 0.5rem 1rem;
      position: relative;
      height: 50px;
    }

    .logo {
      /* margin-left: 5px; */
      font-size: 1.5rem;
      font-weight: bold;
    }

    .menu {
      list-style: none;
      display: flex;
      gap: 6rem;
      margin: 0;
      padding: 0;
    }

    .menu li {
      display: inline;
    }

    .menu a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: color 0.3s;
    }

    .menu a:hover {
      color: #f0a500;
    }

    /* Hamburger Menu */
    #menuToggle {
      display: none;
    }

    #menuToggle input {
      display: none;
    }

    #menuToggle span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background-color: white;
      transition: all 0.3s;
    }

    #menuToggle ul {
      position: absolute;
      top: 60px;
      right: 10px;
      background-color: #333;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      display: none;
      flex-direction: column;
      gap: 1rem;
    }

    #menuToggle input:checked ~ ul {
      display: flex;
    }

    #menuToggle ul li {
      text-align: center;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
      .menu {
        display: none;
      }

      #menuToggle {
        display: block;
        margin-left: 30px;
      }
      .logo{
        margin-left: 20px;
      }
    }
/* navbar */

/* HERO SECTION */

.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}

.hero-content {
  max-width: 600px;
}

.hero-subtitle {
  margin-top: 150px;
  font-size: 1.8rem;
  font-family: 'Lucida Handwriting', cursive;
  font-weight: 900;
  margin-bottom: 2px;
}

.hero-title {
  font-size: 4.8rem;
  font-weight: var(--fw-700);
  margin-bottom: 15px;
}

.hero-text {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--deep-saffron);
  color: var(--white);
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}

.btn:hover {
  background-color: var(--dark-orange);
}
@media (max-width: 768px){
  .hero-subtitle{
    font-size: 1.5rem;
  }
  .hero-title{
    font-size: 3rem;
  }
}