body,
html {
	margin: 0;
	padding: 0;
}
    /* Navbar Styles */
    nav {
      position: sticky; 
      top: 0; 
      background-color: #d35f20;
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.5rem 1rem;
      height: 50px;
      z-index: 10;
      opacity: 1;
      transition: opacity 0.5s ease; 
    }

    .logo {
      font-size: 2rem;
      font-weight: bold;
      font-family: 'Lucida Handwriting', cursive;
    }

    .menu {
      list-style: none;
      display: flex;
      gap: 6rem;
      margin: 0;
      padding: 0;
    }

    .menu li {
      display: inline;
    }

    .menu a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      transition: color 0.3s;
    }

    .menu a:hover {
      color: #f0a500;
    }

/* Hamburger Menu */
#menuToggle {
  position: absolute;
  top: 25px; 
  right: 15px; 
  z-index: 15; 
}

#menuToggle label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
#menuToggle input {
  display: none; 
}
#menuToggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: transform 0.3s, opacity 0.3s;
}

#menuToggle input:checked + label .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menuToggle input:checked + label .bar:nth-child(2) {
  opacity: 0;
}

#menuToggle input:checked + label .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

#menuToggle .navmenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 5px;
  background: #fffdfd;
  width: 150px;
  padding: 2rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.navmenu{
  list-style: none;
  margin:0;
  padding: 0;
}
#menuToggle input:checked ~ .navmenu {
  display: flex;
}

.navmenu li {
  text-align: center;
  margin: 0.5rem 0;
}

.navmenu li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*hamburger menu only on mobile view */
#menuToggle {
  display: none; 
}
.menu {
  display: none; 
}
@media (max-width: 768px) {
  #menuToggle {
    display: block; 
  }
  .logo {
    position: absolute; 
    top: 10px; 
    left: 25px; 
    margin: 0; 
  }
}

@media (min-width: 769px) {
  .menu {
    display: flex;
  }

  #menuToggle {
    display: none;
  }

}
/* navbar */

/* HERO SECTION */

.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}

.hero-content {
  max-width: 600px;
}

.hero-subtitle {
  margin-top: 150px;
  font-size: 1.8rem;
  font-family: 'Lucida Handwriting', cursive;
  font-weight: 900;
  margin-bottom: 2px;
}

.hero-title {
  font-size: 4.8rem;
  font-weight: var(--fw-700);
  margin-bottom: 15px;
}

.hero-text {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--deep-saffron);
  color: var(--white);
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}

.btn:hover {
  background-color: var(--dark-orange);
}
@media (max-width: 768px){
  .hero-subtitle{
    font-size: 1.5rem;
  }
  .hero-title{
    font-size: 3rem;
  }
}