body,
html {
	margin: 0;
	padding: 0;
}

/* HERO SECTION */

.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--white);
}

.hero-content {
  max-width: 600px;
}

.hero-subtitle {
  margin-top: 150px;
  font-size: 1.8rem;
  font-family: 'Lucida Handwriting', cursive;
  font-weight: 900;
  margin-bottom: 2px;
}

.hero-title {
  font-size: 4.8rem;
  font-weight: var(--fw-700);
  margin-bottom: 15px;
}

.hero-text {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.btn {
  background-color: var(--deep-saffron);
  color: var(--white);
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: var(--fw-500);
  transition: var(--transition-1);
}

.btn:hover {
  background-color: var(--dark-orange);
}
